<h4>Please review the association being made.</h4>
<div class="col-md-2 col-xs-2"></div>
<div class="form-horizontal col-md-8 col-xs-8">
  <div class="alert alert-danger" ng-show="submitError != ''">{{submitError}}</div>

  <div class="form-group" ng-show="personType == 'Jacobs Employee'">
    <label for="employeeName" class="col-md-4 control-label">Name:</label>
    <div class="col-md-8">
      <input type="text" class="form-control" id="employeeName" placeholder="Name" ng-model="association.name" readonly>
    </div>
    <label for="macAddress" class="col-md-4 control-label">MAC Address:</label>
    <div class="col-md-8">
      <input type="text" class="form-control" id="macAddress" ng-model="association.macAddress" focus="true" placeholder="Barcode" readonly>
    </div>
  </div>

  <div class="form-group" ng-show="personType == 'Client'">
    <label for="clientName" class="col-md-4 control-label">Name:</label>
    <div class="col-md-8">
      <input type="text" class="form-control" id="clientName" placeholder="Name" ng-model="association.name" readonly>
    </div>
    <label for="macAddress" class="col-md-4 control-label">MAC Address:</label>
    <div class="col-md-8">
      <input type="text" class="form-control" id="macAddress" ng-model="association.macAddress" focus="true" placeholder="Barcode" readonly>
    </div>
  </div>

  <div class="form-group" ng-show="personType == 'Visitor'">
    <label for="clientName" class="col-md-4 control-label">Name:</label>
    <div class="col-md-8">
      <input type="text" class="form-control" id="clientName" placeholder="Name" ng-model="association.name" readonly>
    </div>
    <label for="macAddress" class="col-md-4 control-label">MAC Address:</label>
    <div class="col-md-8">
      <input type="text" class="form-control" id="macAddress" ng-model="association.macAddress" focus="true" placeholder="Barcode" readonly>
    </div>
  </div>

  <div class="form-group" ng-show="personType == 'Subcontractor'">
    <label for="subcontractorCompany" class="col-md-4 control-label">Company:</label>
    <div class="col-md-8">
      <input type="text" class="form-control" id="subcontractorCompany" placeholder="Company" ng-model="association.company" ng-required="personType == 'Subcontractor'" readonly>
    </div>
    <label for="subcontractorName" class="col-md-4 control-label">Name:</label>
    <div class="col-md-8">
      <input type="text" class="form-control" id="subcontractorName" placeholder="Name" ng-model="association.name" ng-required="personType == 'Subcontractor'" readonly>
    </div>
    <label for="macAddress" class="col-md-4 control-label">MAC Address:</label>
    <div class="col-md-8">
      <input type="text" class="form-control" id="macAddress" ng-model="association.macAddress" focus="true" placeholder="Barcode" readonly>
    </div>
  </div>

</div>
<div class="col-md-2  col-xs-2"></div>

<div class="col-md-12 col-xs-12">
  <p>&nbsp;</p>
  <p>
    <button class="btn btn-lg btn-default" type="button" ng-click="previous()">Back</button>
    <button class="btn btn-lg btn-success" type="button" ng-click="submit()">Submit</button>
  </p>
</div>
