<div ng-show="personType == 'Jacobs Employee'">
  <h4>Which person is being assigned a tag?</h4>
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-xs-2"></div>
      <div class="col-md-6 col-xs-8">
        <select ng-model="person" class="form-control" name="personName" ng-options="person as person.LastName + ', ' + person.FirstName + ' ' + person.MiddleName for person in personnel | orderBy: 'LastName' | filterBy: ['Company']: 'Jacobs'" ng-required="personType == 'Jacobs Employee'" ></select>
      </div>
      <div class="col-md-3 col-xs-2"></div>
    </div>
  </div>
</div>

<div ng-show="personType == 'Client'">
  <h4>Which client personnel is being assigned a tag?</h4>
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-xs-2"></div>
      <div class="col-md-6 col-xs-8">
        <select ng-model="person" class="form-control" name="clientName" ng-options="person as person.LastName + ', ' + person.FirstName + ' ' + person.MiddleName for person in personnel | filterBy: ['Company']: 'INEOS'" ng-required="personType == 'Client'"></select>
      </div>
      <div class="col-md-3 col-xs-2 text-left">
        <button class="btn btn-primary" type="button" ng-click="addPerson()"><span class="glyphicon glyphicon-user"></span> Add</button>
      </div>
    </div>
  </div>
</div>

<div ng-show="personType == 'Visitor'">
  <h4>Please enter the name of the visitor.</h4>
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-xs-2"></div>
      <div class="col-md-6 col-xs-8">
        <input type="text" class="form-control" id="visitor_name" placeholder="First Name" ng-model="person.FirstName" ng-required="personType == 'Visitor'">
        <input type="text" class="form-control" id="visitor_name" placeholder="Last Name" ng-model="person.LastName" ng-required="personType == 'Visitor'">
      </div>
      <div class="col-md-3 col-xs-2"></div>
    </div>
  </div>
</div>

<div ng-show="personType == 'Subcontractor'">
  <h4>Please select the a company and person or add new ones.</h4>
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-xs-2"></div>
      <div class="col-md-6 col-xs-8">
        <select ng-model="person" class="form-control" name="subcontractor" ng-options="person as person.LastName + ', ' + person.FirstName + ' ' + person.MiddleName group by person.Company for person in personnel | omit: 'Company.toUpperCase() === \'JACOBS\'' | omit: 'Company.toUpperCase() === \'INEOS\'' | omit: '!Company'" ng-required="personType == 'Subcontractor'"></select>
      </div>
      <div class="col-md-3 col-xs-2 text-left">
        <button class="btn btn-primary" type="button" ng-click="addPerson()"><span class="glyphicon glyphicon-user"></span> Add</button>
      </div>
    </div>
  </div>
</div>

<div ng-show="personType == ''">
  <p class="alert alert-danger">An error occurred!  No person type is defined!</p>
</div>

<div ng-show="personType != ''">
  <p>&nbsp;</p>
  <p>
    <button class="btn btn-lg btn-default" type="button" ng-click="previous()">Back</button>
    <button class="btn btn-lg btn-primary" type="button" ng-click="next()" ng-disabled="associateForm.$invalid">Next</button>
  </p>
</div>
