<h4>What type of person will be assigned this tag?</h4>
<div class="container form-group has-feedback" id="person_type">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <select ng-model="association.type" class="form-control" required>
        <option ng-repeat="type in types | orderBy:'text'" value="{{type}}">{{type}}</option>
      </select>
      <div id="typeHelpBlock" class="help-block" ng-show="!isTypeValid">You must select a person type!</div>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
<p>&nbsp;</p>
<p>
  <button class="btn btn-lg btn-primary" type="button" ng-click="validateType()">Next</button>
</p>
